{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}Réinitialiser le mot de passe - LOCABF{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="text-center mb-4"><i class="fas fa-lock"></i> Réinitialiser le mot de passe</h2>
                        <p class="text-center">Entrez votre adresse e-mail pour recevoir un lien de réinitialisation.</p>
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form layout='floating' %}
                            <button type="submit" class="btn btn-primary w-100 mt-3"><i class="fas fa-paper-plane"></i> Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}