{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Modifier une Maison - LOCABF{% endblock %}
{% block content %}
    <div class="dashboard-container py-5">
        <h1 class="text-center mb-5">Modifier {{ maison.titre }}</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form maison_form %}
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </form>
    </div>
{% endblock %}