{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Supprimer l'Agence - {{ agence.nom }}{% endblock %}
{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4"><i class="fas fa-building"></i> Supprimer l'Agence : {{ agence.nom }}</h1>
        <div class="alert alert-danger" role="alert">
            Êtes-vous sûr de vouloir supprimer cette agence ? Cette action est irréversible !
        </div>
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Confirmer la suppression
                        </button>
                        <a href="{% url 'agence:agence_list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Annuler
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}