{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container mt-5">
        <h1>Ajouter un Employé</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email de l'employé :</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Ajouter</button>
        </form>
    </div>
{% endblock %}